@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 8%;
}

.logo {
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.nav-links {
    list-style-type: none;
}
.nav-links li {
    display: inline-block;
    padding: 0 20px;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.nav-links li a:hover {
    color: #0088a9;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 136,169,0.8);
}

.title { 
    margin-right: auto; 
    cursor: pointer; 
    padding-left: 8px; 
    font-size: 30px; 
    font-weight: 600; 
    text-decoration: none; 
    color: white; 
}