*{
  box-sizing: border-box;
}
body{
	background-color: #FEF5CA;
}


h1{
  font-family:Arial, fantasy;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #000000;
  text-align: center;
}

p {
	padding: 15px 5px 0px 5px;
	font-family: Georgia sans-serif;
	font-size: 16px;
	position: relative;
}

section {
	background-color: #00FF99;
   	border: 2px solid black;
   	margin-top: 20px;
   	margin-right: 20px;
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
    float: right;
    top :0;
    right: 0;
    margin: 0;
	position: absolute;
}
#pp1 {
	background-color: #ffff00;

}
#pp2 {
	background-color: #FF1439;

}
#pp3 {
	background-color: #6495ED;

}

.row {
	width: 100%;
}

/*  PC view */

@media (min-width: 992px) {

  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/*for very small screens or mobile devices */
@media (max-width: 767px)  {

  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}
