* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* border: 1px solid darken(#ddd, 5%); copied from the codepen for further usage purpose */
body {
    font-family:verdana;
    font-size: 1rem;
}

#survey-form {
    display: block;
    background-color:#f4f9f9;
    width:55%;
    margin:auto;
    margin-bottom:100px;
    padding: 2.4rem;
    border-radius: 5px;
    box-shadow: 0 0 2rem 1rem rgba(36, 36, 36, 0.1)
}
.form-div {
    display: block;
    width: 100%;
    margin: 0 auto 1.25rem auto;
}
.form-div > p {
    margin-bottom: 9px;
    font-size: 1rem;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
}
#input-1, #input-2, #input-3, #input-4 , #input-5, #input-6 , #input-7 {
    display: inline-block;
    min-height: 1rem;
    min-width: 1rem;
    margin-right: 8px;
}
#name, #email, #number, #dropdown , #drop-down-2 {
    display: block;
    height: 35px;
    width: 100%;
    margin: auto;
    outline: none;
    border-color: rgb(216, 216, 216, 0.5);
    border-style: solid;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0 0.5rem 0 0.5rem;
}
.head {
    margin: 50px auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    text-align: center;
}
.head > h1 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}
.form-inputs:focus {
    box-shadow: 0 0 0.5rem  rgba(113, 114, 116, 0.251);
}
#comments-section {
    min-height: 150px;
    width: 100%;
    padding: 1rem;
    font-family: Arial;
    font-size: 0.9rem;
    resize: vertical;
    margin-top: 10px;
    outline:none;
    border-color: rgb(216, 216, 216, 0.5);
    border-style: solid;
    border-radius: 5px;
}
#comments-section:focus {
    box-shadow: 0 0 0.5rem  rgba(113, 114, 116, 0.251);
}
#submit {
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
    outline:none;
    border-style: solid;
    border-color:#536162;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
#submit:hover {
    background-color: #536162;
    color: white;
    box-shadow: 0 0 0.5rem  rgba(0, 0, 0, 0.251);
    transition: background-color 0.5s, color 0.5s, box-shadow 0.8s;
}
@media screen and (max-width: 720px) {
    #survey-form {
        width: 90%;
    }
}
@media screen and (max-width: 580px) {
    #survey-form {
        width: 98%;
    }
}
@media screen and (max-width: 480px) {
    #survey-form {
        width: 100%;
        padding:2.5rem 0.9rem;
    }
    .head {
        width:90%;
    }
}
@media screen and (max-width: 320px) {
    #survey-form {
        max-width: 100%;
        margin-bottom:0px;
    }
    .head {
        width:98%;
    }
}